---
import Container from "../shared/Container.astro";
---

<section id="calendly-section" class="py-0 mb-16">
    <Container>
        <div class="max-w-3xl mx-auto text-center mb-1">
            <h2 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight font-bold text-heading-1">
                Schedule a Meeting
            </h2>
            <p class="mt-1 text-heading-3">
                Book a time that works best for you to discuss how we can help grow your business.
            </p>
        </div>
        <div class="overflow-hidden relative">
            <div class="calendly-inline-widget h-[900px] sm:h-[920px] md:h-[940px] lg:h-[960px]" 
                 data-url="https://calendly.com/lokman-launchlegit/30min"
                 style="position: relative;-webkit-overflow-scrolling:touch;min-width:320px;">
            </div>
        </div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    </Container>
</section>

<style>
    .calendly-inline-widget {
        width: 100%;
        overflow: hidden !important;
    }

    @media (max-width: 640px) {
        .calendly-inline-widget {
            margin-bottom: 80px; /* Espace pour le footer en mobile */
        }
    }

    @media (min-width: 640px) and (max-width: 1023px) {
        :global(.calendly-badge-widget) {
            display: none !important;
            visibility: hidden !important;
            opacity: 0 !important;
            pointer-events: none !important;
            position: absolute !important;
            z-index: -1 !important;
        }
    }
</style>