---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="cta" class="pb-15 text-center">
  <Title>Book a metting</Title>
   <!-- Calendly inline widget begin -->
   <div class="calendly-inline-widget" data-url="https://calendly.com/lokman-launchlegit/30min" style="min-width:320px;height:700px;"></div>
   <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
   <!-- Calendly inline widget end -->
</section>
